.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    background-color: blueviolet;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
    width: 100%;
    max-width: 100%;
   
}
.table-scroller{
   height: 100vh;
    overflow-y: scroll;
}

td,th{
    border: 1px solid red;
    padding: 5px;
    
}

.option-btn{
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10%;
    background-color: gold;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.edit-container{
    height: 300px;
    width: 300px;
    background-color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.edit-btn{
    position: fixed;
    cursor: pointer;
    top: 10px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 50%;
}

.edit-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}